.addnewcart {
  position: relative;
}

.form {
  width: 100%;
  padding: 20px;
}

.formBtn {
  padding: 5px;
  margin: 10px;
}
.formBtn button {
  @apply w-full p-[10px] border-none rounded-[5px]
    bg-steel-blue-600 text-white;
}

.addnewcartBtnWrap{
  padding: 10px;
}





.addnewcartBtnTitle{

color: #475569;
padding: 5px;
}
.addnewcartBtn{
  width: 100%;
  padding: 12px 10px;
  border: none;
  text-align: right;
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #757575;

}

.gridContainer {
  @apply grid grid-cols-2 gap-3 overflow-y-scroll h-[400px] p-5;
}

.gridContainer button {
  @apply p-2 rounded-md bg-steel-blue-200 outline-none flex items-center justify-between ;
}

.cartBoxWrapper{
  padding: 20px;
}

.cartBoxContact{
 @apply border-2 border-solid border-steel-blue-500 rounded-md;
 @apply flex flex-col p-4 bg-steel-blue-100;
 box-shadow: 0px 0px 6px gray;

}
.cartBoxImgWrap{
  @apply flex items-center justify-between
}
.cartBoxImgWrap img{
  width: 50px;
  height: 50px;
  object-fit: cover;
 
}

.cartBoxNumber{
  text-align: center;
  color: #6a6d72;
  margin: 10px 0px;
}
.cartBoxDate{
  text-align: left;
  color: #a7a7a7;
}