.editUserForm {
    width: 100%;
    padding: 20px;
  }
.formBtn {
    padding: 5px;
    margin: 10px;
  }
  .formBtn button {
    @apply w-full p-[10px] border-none rounded-[5px]
      bg-steel-blue-600 text-white;
  }