.cart{
   
   @apply mr-3 ml-3  border-solid border-2 border-stone-200 mt-4 rounded-lg
}

.cartWrapper {
    @apply w-full  flex items-center gap-3 p-3 

}
.cartImgWrap{
    width: 50px;
    height: 50px;


}
.cartImg{

    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.cartInfo p{
color: #a1a1a1;
}